
.fl {
    float: left;
}







.user_score_view {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 22px 26px;
}

.user_avatar img {
    width: 54px;
    height: 54px;
    border-radius: 27px;
}







.user_score_rule {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.score_count {
    margin-left: 11%;
    padding-left: 9%;
    border-left: 1px solid #dcdcdc;
}

.count_des span {
    color: #666666;
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
}

.count_des input {
    border: 1px solid #e1e1e1;
    height: 22px;
    line-height: 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 10px;
    width: 66px;
    margin-left: 16px;
    margin-right: 16px;
    background: #f3f3f3;
    font-size: 14px;
    color: #fc6b6b;
    vertical-align: middle;
}

.count_tips {
    color: #999999;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    color: #fc6b6b;
}

.score_sub span {
    margin-left: 58px;
    background: #ccc;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 0 25px;
    height: 34px;
    line-height: 34px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    cursor: pointer;
}

.score_sub span:hover {
    background: #333;
}

.user_score_rule h4 {
    background-color: #f3f3f3;
    margin: 0;
    font-size: 12px;
    color: #2c2c2c;
    padding-top: 6px;
    line-height: 36px;
    padding-left: 26px;
}

.user_score_list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 26px;

}

.user_score_list li {
    font-size: 12px;
    color: #666;
    line-height: 25px;
    letter-spacing: 1px;
}

.user_score_sources {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.user_score_sources h4 {
    background-color: #f3f3f3;
    margin: 0;
    font-size: 12px;
    color: #2c2c2c;
    padding-top: 6px;
    line-height: 36px;
    padding-left: 26px;
}

.user_source_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user_source_list li {
    font-size: 0;
}

.user_source_list li span {
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    color: #666;
    line-height: 43px;
    border-bottom: 1px solid #f3f3f5;
    display: inline-block;
    width: 33.3%;
    vertical-align: bottom;
}

