.daohang{
    width: 100%;
    height: 50px;
}
.cener{
    margin: auto;
    width: 1300px;
    padding: 10px;
}
.lbtwz{
    float: left;
    width: 100%;
    background-color: white;
}
.yemian{
    background: #f3f3f3;
    float: left;
}
.carousel-inner>.carousel-item>img{
    width: 100%;
    height: 400px;
}
.ss{
    margin: auto;
    width: 80%;
}
input{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5px;
}
.znr{
    width: 800px;
    float: left;
}
.znra{
    float: left;
}
.lb{
    float: left;
    width: 130px;
    height: 250px;
    padding: 10px 0 15px;
    margin-right: 20px;
    line-height: 1.5;
}
.sub-title{
    font-size: 16px;
    vertical-align: bottom;
    font-weight: normal;
    color: #666;
}
p{
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
}
.hza{
    float: left;
    width: 350px;
    margin: 20px;
    border-bottom: 1px solid ;
}
.bd{
    float: left;
    width: 400px;
    margin-bottom: 55px;
}
.pic{
    float: left;
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 120px;
    margin-right: 20px;
}
.article-list{
    padding-top: 20px;

}
.figure{
    margin-bottom: 18px;
    line-height: 1.5;
}
.figure .content {
    float: left;
    width: 160px;
}
.figure .figcaption {
    height: 60px;
    color: #333;
    font-size: 14px;
    word-break: break-all;
}
.figure .desc {
    color: #666;
    font-size: 14px;
}
figure .desc>p{
    margin: 0;
}
.list{
    height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.num{
    display: inline-block;
    width: 30px;
    color: #f90;
    font-size: 12px;
    vertical-align: middle;
}
#text{
    color: #333;
    font-size: 14px;
}
.fm{
    float: left;
    width: 100%;
    background-color:#282828;
}
.fmlb{
    float: left;
    width: 220px;
    padding: 10px 0 15px;
    margin-right: 20px;
    line-height: 1.5;
}
.dx{
    float: left;
    width: 100%;
}
.sp{
    float: left;
    width: 100%;
    background-color:white;
}
.piv{
    float: left;
    width: 184px;
    height: 230px;
    margin-right: 20px;
    overflow: hidden;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.figures{
    display: inline-block;
    float: left;
    width: 430px;
    margin-right: 20px;
    margin-bottom: 30px;
}