.ym{
    background: #e4e4e4;
    width: 100%;
    float: left;
}
.daohang{
    width: 100%;
    height: 50px;
}
.cener{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 70%;
    padding: 10px;
    background: white;
}
.ii{
    float: left;
    margin-left: 25px;
    border-radius: 200px;
    width: 70px;
    height: 70px;
    margin-right: 50px;
}